

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-block">
	<h2 class="card-title"><%= system['name'] %></h2>
	<h6 class="card-subtitle text-muted">
	  Added on <%= system['ts'].strftime("%B %-d, %Y") %> and completed <%= system['completion_count'] %> time<% if system['completion_count'] != 1 %>s<% end %>.
	  <% if user and has_completed %>
	  You completed this system on <%= has_completed.strftime("%B %-d, %Y") %>.
	  <% end %>
	</h6>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="card card-block">
	<p class="card-text">
	  Welcome to building your first system on Systems &amp; Papers!
	</p>
	<p class="card-text">
	  Each system is a program that you write,
	  which takes some input from standard in and return it to standard out.
	  We'll supply some sample input and expected sample output, and then you'll validate
	  your system by running a final set of input against your system and then sending us
	  the corresponding output. If the output, matches, then congratulation!, you've built
	  a working system.
	</p>
	<p class="card-text">
	  Most of the systems we build will be focusing on exploring concepts from distributed systems
	  or understanding how software we already heavily rely on, like Redis or Memcached, works.
	  This one will be a wee bit different, and is focused on getting you comfortable with the process
	  of submitting solutions.
	</p>
	<p class="card-text">
	  The first system takes number as input and then output that number multiplied by three
	  as the output.
	</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
	<h6 class="card-header">Input</h6>
<pre class="card-pre">1
2
5
10
3</pre>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
	<h6 class="card-header">Ouput</h6>
<pre class="card-pre">3
6
15
30
9</pre>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="card card-block">
	<p class="card-text">
	  Once you've verified that your system works as expected:
	</p>
	<ol>
	  <li>download the validation input,</li>
	  <li>run your script against it,</li>
	  <li>and upload your output for confirmation!</li>
	</ol>
	<p class="card-text">
	  Each system page provides instructions on downloading, running and
	  uploading your solution via the command line, as well as
	  an integration with <a href="https://runkit.com/">RunKit</a>
	  if you'd like to run them inline.
	</p>
	</p>
      </div>
    </div>
  </div>
  <% if user %>
  <div class="row">
    <% if has_completed %>
    <div class="col-sm-12">
      <div class="card card-block">
	<p class="card-text text-center">You already completed this system on <%= has_completed.strftime("%B %-d, %Y") %>!</p>
      </div>
    </div>
  </div>
  <% end %>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
	<h6 class="card-header">Submit via RunKit</h6>
	<div id="runkit-submit">
	  var request = require("request");
	  var handle = function(error, response, body) {
	    console.log([error, response, body]);
	  }
	  var resp = (await request("<%= domain %>/systems/<%= system['id'] %>/input/")");
	  handle(resp);</div>
      </div>
    </div>
  </div>
  <div class="row">  
    <div class="col-sm-12">
      <div class="card">
	<h6 class="card-header">Submit via CLI</h6>
	<pre class="card-pre">curl <%= domain %>/systems/<%= system['id'] %>/input/ > <%= system['id'] %>_input.txt
python your_script.py &lt; <%= system['id'] %>_input.txt &gt; <%= system['id'] %>_output.txt
curl --data-binary "@<%= system['id'] %>_output.txt" <%= domain %>/systems/<%= system['id'] %>/output/?token=<%= upload_token %></pre>
      </div>
    </div>
  </div>    
  <% else %>
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-block">
	<p class="card-text text-center">You'll need to <a href="/login/">log in</a> to submit solutions.</p>
      </div>
    </div>
  </div>
  <% end %>

  <% if papers.size > 0 %>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
	<h4 class="card-header">Related papers</h4>
	<%= papers_table %>
      </div>
    </div>
  </div>
  <% end %>


</div>
<% if user %>
<script src="https://embed.runkit.com" data-element-id="runkit-submit"></script>
<% end %>
