<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" href="/static/img/papers-logo.ico">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/bootstrap-4.0.0-alpha.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/papers.css">
    <title><%= title %></title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-inverse">
      <div class="container">
	<div class="nav navbar-nav">
	  <a class="navbar-brand" href="#">
	    <img src="/static/img/papers-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
	    Systems &amp; Papers
	  </a>
	  <% if user %>
	  <a class="nav-item nav-link float-xs-right" href="https://github.com/settings/applications">Logged in as <%= user['login'] %></a>
	  <a class="btn btn-outline-secondary nav-item nav-link float-xs-right" href="/about/">About</a>
	  <a class="btn btn-outline-secondary nav-item nav-link float-xs-right" href="/papers/">Papers
	    <span class="tag"><%= user['read_count'] %> / <%= paper_count %></span>
	  </a>
	  <a class="btn btn-outline-secondary nav-item nav-link float-xs-right" href="/">Systems
	    <span class="tag"><%= user['completion_count'] %> / <%= system_count %></span>
	  </a>
	  <% else %>
	  <a id="login" class="btn btn-primary nav-item nav-link float-xs-right" href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= client_id %>">Login via Github</a>
	  <a class="btn btn-outline-secondary nav-item nav-link float-xs-right" href="/about/">About</a>
	  <a class="btn btn-outline-secondary nav-item nav-link float-xs-right" href="/papers/">Papers</a>
	  <a class="btn btn-outline-secondary nav-item nav-link float-xs-right" href="/">Systems</a>
	  <% end %>
	</div>
      </div>
    </nav>

    <% if user and user['is_admin'] == 1 %>
    <div class="container">
      <div class="col-sm-12">
	<div class="card card-inverse card-primary card-block">
	  <p class="card-text">
	    <a class="btn btn-primary">Admin Panel</a>
	    <a class="btn btn-secondary" href="/admin/add-paper/">Add paper.</a>
	    <a class="btn btn-secondary" href="/admin/associate/">Associate paper.</a>
	    <a class="btn btn-secondary" href="/admin/users/">List users.</a>
	    <a class="btn btn-secondary" href="/admin/recent/">Recent activity.</a>
	  </p>	  
	</div>
      </div>
    </div>
    <% end %>

    <%= yield %>
    <script src="/static/css/jquery-3.1.1.min.js"></script>
    <script src="/static/css/tether-1.3.7.min.js"></script>
    <script src="/static/bootstrap-4.0.0-alpha.5/js/bootstrap.min.js"></script>
  </body>
</html>
