<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" href="/static/img/papers-logo.ico">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/bootstrap-4.0.0-alpha.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/papers.css">
    <title><%= title %></title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-inverse">
      <div class="container">
	<div class="nav navbar-nav">
	  <a class="navbar-brand" href="/">
	    <img src="/static/img/papers-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
	    Systems &amp; Papers
	  </a>
	  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
	  <div class="collapse navbar-toggleable-md" id="navbarResponsive">
	    <ul class="nav navbar-nav float-xs-right">
	      <% if user and user['is_admin'] == 1 %>
	      <li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="http://example.com" id="responsiveNavbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
		<div class="dropdown-menu" aria-labelledby="responsiveNavbarDropdown">
		  <a class="dropdown-item" href="/admin/add-paper/">Add paper.</a>
		  <a class="dropdown-item" href="/admin/add-system/">Add system.</a>
		  <a class="dropdown-item" href="/admin/associate/">Associate paper.</a>
		  <a class="dropdown-item" href="/admin/users/">List users.</a>
		  <a class="dropdown-item" href="/admin/recent/">Recent activity.</a>
		</div>
	      </li>
	      <% end %>
	      <% if user %>
	      <li class="nav-item">
		<a class="btn btn-outline-secondary nav-item nav-link" href="/">Systems
		  <span class="tag"><%= user['completion_count'] %> / <%= system_count %></span>
		</a>
	      </li>
	      <li class="nav-item">
		<a class="btn btn-outline-secondary nav-item nav-link" href="/papers/">Papers
		  <span class="tag"><%= user['read_count'] %> / <%= paper_count %></span>
		</a>
	      </li>
	      <li class="nav-item">
		<a class="btn btn-outline-secondary nav-item nav-link" href="/about/">About</a>
	      </li>
	      <% if user['avatar'] %>
	      <li class="nav-item">
		<a class="navbar-brand" href="/logout/">
		  <img class="d-inline-block align-top" height="30" width="30" src="<%= user['avatar'] %>">
		</a>
	      </li>
	      <% else %>
	      <li class="nav-item">
		<a class="nav-item nav-link" href="/logout/">
		  Logged in as <%= user['login'] %>
		</a>
	      </li>
	      <% end %>
	      <% else %>
	      <li class="nav-item">
		<a class="btn btn-outline-secondary nav-item nav-link" href="/">Systems</a>
	      </li>
	      <li class="nav-item">
		<a class="btn btn-outline-secondary nav-item nav-link" href="/papers/">Papers</a>
	      </li>
	      <li class="nav-item">
		<a class="btn btn-outline-secondary nav-item nav-link" href="/about/">About</a>
	      </li>
	      <li class="nav-item">
		<a id="login" class="btn btn-primary nav-item nav-link" href="/login/">Login via Github</a>
	      </li>
	      <% end %>
	    </ul>
	  </div>
	</div>
      </div>
    </nav>

    <%= yield %>

    <footer class="footer">
      <div class="container">
	<span class="text-muted">Built by <a href="http://lethain.com/">Will Larson</a>. 2017.</span>
      </div>
    </footer>

    <script src="/static/css/jquery-3.1.1.min.js"></script>
    <script src="/static/css/tether-1.3.7.min.js"></script>
    <script src="/static/bootstrap-4.0.0-alpha.5/js/bootstrap.min.js"></script>
  </body>
</html>
