<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card card-block">
	<h3 class="card-title">Users</h3>
	<% users.each do |x| %>
	<p class="card-text"><b><%= x['id'] %></b>: <%= x['login'] %>, <%= x['ts'] %></p>
	<% end %>	    
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card card-block">
	<h3 class="card-title">Read</h3>
	<p class"'card-text">
	<% read.each do |x| %>
	<p class="card-text"><b><%= x['id'] %></b>: <%= x['login'] %>, <%= x['ts'] %></p>
	<% end %>	    	  	  
	</p>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card card-block">
	<h3 class="card-title">Completed</h3>
	<p class"'card-text">
	<% completed.each do |x| %>
	<p class="card-text"><b><%= x['id'] %></b>: <%= x['login'] %>, <%= x['ts'] %></p>
	<% end %>	    	  	  	  
	  
	</p>
      </div>
    </div>
    
    
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card card-block">
	<h3 class="card-title">Systems</h3>
	<p class"'card-text">
	<% systems.each do |x| %>
	<p class="card-text"><b><%= x['id'] %></b>: <%= x['login'] %>, <%= x['ts'] %></p>
	<% end %>	    	  	  	  
	</p>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card card-block">
	<h3 class="card-title">Papers</h3>
	<p class"'card-text">
	<% papers.each do |x| %>
	<p class="card-text"><b><%= x['id'] %></b>: <%= x['login'] %>, <%= x['ts'] %></p>
	<% end %>	    	  	  	  
	</p>
      </div>
    </div>    

  </div>
  
</div>
