<% if user %>
<% if has_completed %>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-block">
      <p class="card-text text-center">You already completed this system on <%= has_completed.strftime("%B %-d, %Y") %>!</p>
    </div>
  </div>
</div>
<% end %>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <h6 class="card-header">Submit via CLI</h6>
      <pre class="card-pre">curl <%= domain %>/systems/<%= system['id'] %>/input/ > <%= system['id'] %>_input.txt
python your_script.py &lt; <%= system['id'] %>_input.txt &gt; <%= system['id'] %>_output.txt
curl --data-binary "@<%= system['id'] %>_output.txt" <%= domain %>/systems/<%= system['id'] %>/output/?token=<%= upload_token %></pre>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <h6 class="card-header">Submit via RunKit</h6>
      <div id="runkit-submit">
var sap = require("systemsandpapers")
var sid = "<%= system['id'] %>"
var token = "<%= upload_token %>"

function solve(input) {
    // change input into output somehow
        return input
	}

sap.attempt(sid, token, solve)</div>
    </div>
  </div>
</div>
<script src="https://embed.runkit.com" data-element-id="runkit-submit"></script>
<% else %>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-block">
      <p class="card-text text-center">You'll need to <a href="/login/">log in</a> to submit solutions.</p>
    </div>
  </div>
</div>
<% end %>
