<% if user %>
<% if has_completed %>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-block">
      <p class="card-text text-center">You already completed this system on <%= has_completed.strftime("%B %-d, %Y") %>!</p>
    </div>
  </div>
</div>
<% end %>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <h6 class="card-header">Submit via CLI</h6>
      <pre class="card-pre">curl <%= domain %>/systems/<%= system['id'] %>/input/ > <%= system['id'] %>_input.txt
python your_script.py &lt; <%= system['id'] %>_input.txt &gt; <%= system['id'] %>_output.txt
curl --data-binary "@<%= system['id'] %>_output.txt" <%= domain %>/systems/<%= system['id'] %>/output/?token=<%= upload_token %></pre>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <h6 class="card-header">Submit via RunKit</h6>
      <div id="runkit-submit">
require("request")
var rp = require("request-promise")

function consoleAll(title, txt) {
    console.log(`${title}: ${txt.split("\n").join(", ")}`)
}

function solve(input) {
    consoleAll("Input", input)
    output = input.split("\n").map(line => {
        return line * 2
    }).join("\n")
    consoleAll("Proposed Solution", output)
    return output
}

async function download(sid) {
    var url = `https://systemsandpapers.com/systems/${sid}/input/`
    return (await rp(url))
}

async function upload(sid, data, token) {
    var url = `https://systemsandpapers.com/systems/${sid}/output/?token=${token}`
    return (await rp({uri: url, method: 'POST', body: data})
        .then(function(html) {
            consoleAll("Success", html)
        }).catch(function(error) {
            msg = error.message.slice(4).replace("\\n", "\n")
            consoleAll("Failure", msg)
    }))
}

var pid = "<%= system['id'] %>"
var token = "<%= upload_token %>"
await upload(pid, solve(await download(pid)), token)</div>
    </div>
  </div>
</div>
<script src="https://embed.runkit.com" data-element-id="runkit-submit"></script>
<% else %>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-block">
      <p class="card-text text-center">You'll need to <a href="/login/">log in</a> to submit solutions.</p>
    </div>
  </div>
</div>
<% end %>
