<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th class="hidden-sm-down">Solved By</th>
      <th class="hidden-sm-down">Status</th>
    </tr>
  </thead>
  <tbody>
    <% systems.each do |system| %>
    <tr>
      <th scope="row"><%= system['pos'] %></th>
      <td><a href="/systems/<%= system['id'] %>/"><%= system['name'] %></td>
      <td class="hidden-sm-down"><%= system['completion_count'] %> engineer<% if system['completion_count'] != 1 %>s<% end %></td>
      <td class="hidden-sm-down"><% if system['user_has_completed'] %>Completed on <%= system['user_has_completed'].strftime("%B %-d, %Y") %><% else %>New<% end %></td>
    </tr>
    <% end %>
  </tbody>
</table>
